@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
body {
	font-size: 15px;
	color: var(--black-color);
	line-height: 24px;
	font-weight: 400;
	background: var( --white-color);
	font-family: 'Roboto Condensed', sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-font-smoothing: antialiased;
}

 :root {
	--primary-color: #f8952c;
	--secondary-color: #063c83;
	--black-color: #000;
	--white-color: #fff;
	--grey-color: #b6bbc0;
	--light-grey-color: #cdd8e6;
}

* {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
}


/* common style */

.unable {
	text-decoration: line-through;
	opacity: 0.5;
}

.py-85 {
	padding: 85px 0;
}

.primary-bg {
	background: var( --primary-color)
}

.secondary-bg {
	background: #0a1c2d;
}

.commonTitle {
	margin-bottom: 25px;
}

.commonTitle h2 {
	position: relative;
	display: block;
	font-size: 40px;
	line-height: 46px;
	font-weight: 700;
}

.commonTitle p {
	margin: 25px 0;
}

.commonTitle .separator {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 26px;
	color: var( --secondary-color);
	font-weight: 400;
	margin-bottom: 10px;
}

.commonTitle .separator:before {
	content: "";
	width: 45px;
	height: 2px;
	background: var(--primary-color);
	margin-right: 10px;
}

.commonTitle .separator.white:before {
	background: var(--white-color);
}

.commonTitle.centered {
	text-align: center;
}

.commonTitle.centered .separator {
	justify-content: center;
}

.commonTitle.centered .separator:before,
.commonTitle.centered .separator:after {
	content: "";
	width: 45px;
	height: 2px;
	background: var(--primary-color);
}

.commonTitle.centered .separator:before {
	margin-right: 10px;
}

.commonTitle.centered .separator:after {
	margin-left: 10px;
}

a {
	text-decoration: none;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}

.link-hover:hover {
	color: var(--primary-color) !important;
}

a:hover {
	text-decoration: none;
	outline: none;
}

ul,
li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

input {
	transition: all 500ms ease;
}

button:focus,
input:focus,
textarea:focus {
	outline: none;
	box-shadow: none;
	transition: all 500ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
	font-weight: 400;
	margin: 0px;
	transition: all 500ms ease;
}

.btn {
	padding: 10px 15px;
	outline: none;
	box-shadow: none !important;
}

.btn.btn-sm {
	font-size: 13px;
	line-height: 20px;
	padding: 7px 15px;
}

.btn-primary {
	background: var(--primary-color);
	border-color: var(--primary-color);
}

.btn-primary:hover {
	background: var(--primary-color);
	border-color: var(--primary-color);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
	background: var(--primary-color);
	border-color: var(--primary-color);
}

.btn-outline-primary {
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
}

.btn-outline-primary:hover {
	color: var(--primary-color);
	border-color: var(--primary-color);
}

.btn-secondary {
	background: var(--secondary-color);
	border-color: var(--secondary-color);
}

.btn-secondary:hover {
	background: var(--secondary-color);
	border-color: var(--secondary-color);
}

.btn-outline-light {
	border: 2px solid var( --white-color);
	color: var( --white-color);
}

.btn-outline-light:hover {
	color: var( --white-color);
}


/** button **/

.ripple-effect {
	position: relative;
	display: inline-block;
	font-size: 15px;
	line-height: 30px;
	font-weight: 700;
	padding: 8px 18px;
	text-align: center;
	cursor: pointer;
	z-index: 1;
	transition: all 500ms ease;
	overflow: hidden;
	border-radius: 0;
}

.ripple-effect+.ripple-effect {
	margin-left: 10px;
}

.ripple-effect i {
	margin-right: 10px;
}

.ripple-effect:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: -1;
	background-color: var( --secondary-color);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
}

.ripple-effect:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: var( --secondary-color);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
}

.ripple-effect:hover::before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.ripple-effect:hover::after {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.menuShow .menu-icon .menu-icon_line {
	height: 2px !important;
	transform: translateX(0px) rotate(-45deg);
}

.menuShow .menu-icon .menu-icon_line.menu-icon_line-left {
	transform: translate(1px, 2px) rotate( 45deg);
}

.menuShow .menu-icon .menu-icon_line.menu-icon_line-right {
	transform: translate(2px, -1px) rotate(45deg);
}


/* header css */

.header {
	background: #fff;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.header .header-top {
	position: relative;
	background: #f0f5f9;
	padding: 11px 0px;
}

.header .header-bottom .navbar-brand {
	padding: 0;
}

.header .header-top li {
	position: relative;
	font-size: 14px;
}

.header .header-top li:not(:last-child) {
	margin-right: 25px;
}

.header .header-top li:not(:last-child):before {
	position: absolute;
	content: '';
	background: #c1d0e1;
	width: 2px;
	height: 20px;
	top: 2px;
	right: 0;
	margin: 0px -15px;
}

.header .header-top .address li i {
	margin-right: 10px;
	color: #1c6ead;
}

.header .header-top .social-links li>a,
.header .header-top .address li a {
	color: #666666;
}

.header .header-top .social-links li>a:hover {
	color: var(--primary-color);
}

header .header-top .head-btn {
	padding: 4px 12px;
	color: var(--white-color) !important;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
}

.header .header-bottom .navbar {
	padding: 20px 0;
}

.header .header-bottom .menu-btn {
	line-height: normal;
}

.header .header-bottom .navbar .navbar-nav .nav-item {
	margin-right: 30px;
}

.header .header-bottom .navbar .navbar-nav .nav-item .nav-link {
	padding: 0 5px;
	font-size: 16px;
	color: var(--black-color);
	position: relative;
	font-weight: 600;
}

.header .header-bottom .navbar .navbar-nav .nav-item .nav-link:after {
	content: "";
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: -10px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	transform: scale(0);
	background-color: var(--primary-color);
}

.header .header-bottom .navbar .navbar-nav .nav-item .nav-link:hover:after ,
.header .header-bottom .navbar .navbar-nav .nav-item .nav-link.active:after {
	transform: scale(1);
}

.header .header-bottom .navbar .navbar-nav .nav-item .nav-link:hover,
.header .header-bottom .navbar .navbar-nav .nav-item .nav-link.active {
	color: var(--primary-color);
}

.header .header-bottom .menu-btn {
	margin-right: 30px
}

.header .header-bottom .search a {
	color: var(--black-color);
}

.header .header-bottom .search a:hover {
	color: var(--primary-color);
}


/* toggle menu css */

.header .header-bottom .menu-icon {
	padding: 0;
	border: 0;
	margin-left: 15px;
	width: 20px;
}

.header .header-bottom .menu-icon .menu-icon_line {
	height: 2px;
	width: 24px;
	display: block;
	background: var(--primary-color);
	margin-bottom: 4px;
	transition: transform .2s ease, background-color .5s ease;
}

.header .header-bottom .menu-icon .menu-icon_line.menu-icon_line-left,
.header .header-bottom .menu-icon .menu-icon_line.menu-icon_line-right {
	width: 12px;
}

.header .header-bottom .menu-icon .menu-icon_line.menu-icon_line-right {
	float: right;
}

.header .header-top .social-links .dropdown a.dropdown-toggle {
	color: #666666;
}

.header .header-top .social-links .dropdown a.dropdown-toggle:hover {
	color: var(--primary-color);
}

.header .header-top .social-links .dropdown .dropdown-menu {
	padding: 0px;
	margin: 15px 0px 0px;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	border: none;
	border-radius: 0px;
}

.header .header-top .social-links .dropdown .dropdown-menu .dropdown-item {
	padding: 6px 12px;
	font-size: 13px;
	color: #666666;
	border-bottom: 1px solid #cdd8e6;
}
.header .header-top .social-links .dropdown .dropdown-menu .dropdown-item:active,
.header .header-top .social-links .dropdown .dropdown-menu .dropdown-item.active{
	color: var(--white-color);
	background: var( --secondary-color);
}

.header .header-top .social-links .dropdown .dropdown-menu .dropdown-item:last-child {
	border-bottom: none;
}


/* header css close */


/* search modal css */

.search-modal {
	position: fixed;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	visibility: hidden;
	opacity: 0;
	overflow: auto;
	background: rgba(0, 38, 98, 0.95);
	-webkit-transform: translateY(101%);
	-ms-transform: translateY(101%);
	transform: translateY(101%);
	transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-webkit-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
}

.search-modal.popup-visible {
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	visibility: visible;
	opacity: 1;
}

.search-modal .close-search {
	position: absolute;
	right: 25px;
	top: 25px;
	font-size: 22px;
	color: var( --white-color);
	cursor: pointer;
	z-index: 5;
	transition: all 500ms ease;
}

.search-modal .search-form {
	position: relative;
	padding: 0px 15px 0px;
	max-width: 1024px;
	margin: 0 auto;
	margin-top: 150px;
	transition: all 900ms ease;
	-moz-transition: all 900ms ease;
	-webkit-transition: all 900ms ease;
	-ms-transition: all 900ms ease;
	-o-transition: all 900ms ease;
}

.search-modal .search-form .form-control {
	padding: 20px 30px;
}

.search-modal .search-form .form-control,
.search-modal .search-form .btn {
	height: 70px;
	font-size: 16px;
	border-radius: 0;
}

.search-modal .search-form .form-control:focus {
	border-color: var(--primary-color);
	box-shadow: none;
}

.search-modal .search-form .btn {
	background: var(--primary-color);
	border-color: var(--primary-color);
	width: 220px;
	text-transform: uppercase;
	box-shadow: none !important;
}

.search-modal .search-form .btn:active,
.search-modal .search-form .btn:focus {
	background: var(--primary-color);
	box-shadow: none;
	border-color: var(--primary-color);
	outline: none;
}


/****** home page css ******/

.home-banner .content-box {
	position: relative;
	color: var( --white-color);
	z-index: 1;
}

.home-banner .content-box h1 {
	font-size: 60px;
	line-height: 65px;
	margin-bottom: 15px;
	font-weight: 600;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	text-overflow: ellipsis;
}

.home-banner .content-box p {
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 41px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	text-overflow: ellipsis;
}

.home-banner .slide-item {
	position: relative;
	height: 570px;
	padding: 85px 0;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.home-banner .slide-item:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	left: 0px;
	top: 0px;
	right: 0px;
	z-index: 1;
	background: -webkit-linear-gradient( 0deg, rgba(4, 23, 48, 1) 0%, rgba(0, 0, 0, 0.10) 100%);
}

.home-banner .slide-item .img-box {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 6000ms linear;
	-moz-transition: all 6000ms linear;
	-ms-transition: all 6000ms linear;
	-o-transition: all 6000ms linear;
	transition: all 6000ms linear;
}

.home-banner .active .slide-item .img-box {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}

.home-banner .owl-nav {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
}

.home-banner .owl-nav .owl-prev,
.home-banner .owl-nav .owl-next {
	position: absolute;
	top: 0;
	background: rgba(255, 255, 255, 0.15);
	height: 56px;
	width: 56px;
	border-radius: 50%;
	border: none;
	text-align: center;
	color: rgba(0, 0, 0, 0);
	line-height: 56px;
	font-size: 0px;
	opacity: 1;
	margin-top: -30px;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	overflow: hidden;
}

.home-banner .owl-nav .owl-prev:hover {
	background: var(--primary-color);
}

.home-banner .owl-nav .owl-next:hover {
	background: var(--primary-color);
}

.home-banner .owl-nav .owl-prev {
	left: 50px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.home-banner .owl-nav .owl-next {
	right: 50px;
}

.home-banner .owl-nav .owl-prev:after,
.home-banner .owl-nav .owl-next:after {
	font-family: "Font Awesome 5 Free";
	font-weight: 700;
	color: var( --white-color);
	font-size: 24px;
	cursor: pointer;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.home-banner .owl-nav .owl-prev:after {
	content: "\f105";
	left: 0;
}

.home-banner .owl-nav .owl-next:after {
	content: "\f105";
	right: 0;
}


/* searchAgent */

.searchAgent .searchBox {
	box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
	padding: 30px;
	margin-top: -65px;
	position: relative;
	z-index: 2;
}

.searchAgent .searchBox .commonTitle {
	max-width: 900px;
	margin: 0 auto;
}

.searchAgent .searchBox .searchBox_form .form-control {
	padding: 20px 15px;
	height: 50px;
	border-radius: 0;
}

.searchAgent .searchBox .searchBox_form .form-control:focus {
	border-color: var(--primary-color);
	box-shadow: none;
}

.searchAgent .searchBox .searchBox_form .btn {
	height: 50px;
}


/* about section  css */

.homePage .aboutUs {
	background: url(../images/about-pattern.png) no-repeat;
	background-position: right;
}

.homePage .aboutUs .left-box {
	padding-right: 60px;
}

.homePage .aboutUs .right-box .imgThumb:before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
	background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .3)));
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
	-webkit-transform: skewX(-25deg);
	-ms-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.homePage .aboutUs .right-box .imgThumb:hover:before {
	-webkit-animation: shine 1s;
	animation: shine 1s;
}

.homePage .aboutUs .query-card {
	position: absolute;
	left: 70px;
	bottom: 45px;
	width: 100%;
	border-left: 4px solid var(--primary-color);
	overflow: hidden;
	background: var( --white-color);
	padding: 29px 50px 34px 50px;
	box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
}

.homePage .aboutUs .query-card h3 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
}

.homePage .aboutUs .query-card h4 {
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
}

.homePage .aboutUs .query-card i {
	position: absolute;
	left: 30px;
	top: 20px;
	font-size: 90px;
	line-height: 90px;
	color: #e5e5e5;
}

.homePage .aboutUs .query-card a {
	font-size: 22px;
	font-weight: 700;
	color: var(--secondary-color);
}

.homePage .aboutUs .query-card a:hover {
	color: var(--primary-color);
}

.homePage .aboutUs .points {
	margin-bottom: 25px;
}

.homePage .aboutUs .points .points-detail {
	margin-left: 15px;
}

.homePage .aboutUs .points .points-detail h5 {
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	color: #222;
	margin-bottom: 5px;
}

.homePage .aboutUs .points .points-icon {
	font-size: 32px;
	color: var(--primary-color);
}

.homePage .aboutUs .ourNetwork {
	margin-top: 40px;
}

.homePage .aboutUs .ourNetwork .list {
	padding: 15px
}

.homePage .aboutUs .ourNetwork .list:hover .list-icon {
	transform: rotateY(360deg);
}

.homePage .aboutUs .ourNetwork .list-icon {
	margin-bottom: 25px;
	transition: all 500ms ease;
}

.homePage .aboutUs .ourNetwork .list:before {
	position: absolute;
	content: '';
	background: var(--light-grey-color);
	width: 1px;
	height: 100%;
	top: 0px;
	right: -15px;
	margin: 0 15px;
}

.homePage .aboutUs .ourNetwork h3 {
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
}


/* tradeExperiance */

.tradeExperiance {
	background: #f0f5f9;
}

.tradeExperiance .trade {
	background: var(--white-color);
}

.tradeExperiance .trade-icon {
	width: 70px;
	height: 70px;
	border: 1px dotted var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.tradeExperiance .trade-icon i {
	font-size: 30px;
	color: var(--secondary-color);
}

.tradeExperiance .trade-icon img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.tradeExperiance .trade-img {
  margin-bottom: 20px;
}
.tradeExperiance .trade-img img {
  width: 70px;
}

.tradeExperiance .list {
	padding: 30px;
}

.tradeExperiance .trade-box h3 {
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
	margin: 15px 0;
}

.tradeExperiance .trade-box h3,
.tradeExperiance .trade-box p {
	font-weight: 600;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	text-overflow: ellipsis;
}
.tradeExperiance .trade-box p{
	font-weight: 500;
}

.tradeExperiance .list:before {
	position: absolute;
	content: '';
	background: var(--light-grey-color);
	width: 1px;
	height: 80%;
	top: 50%;
	transform: translateY(-50%);
	right: -15px;
	margin: 0 15px;
}

.tradeExperiance .list:last-child:before {
	width: 0;
}

/* .tradeExperiance .list:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 0%;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	transition: all 500ms ease;
	background: var(--secondary-color);
}

.tradeExperiance .list:hover:after {
	height: 100%;
	top: 0;
	z-index: 1;
}

.tradeExperiance .list:hover .trade-box {
	color: var(--white-color);
	position: relative;
	z-index: 2;
}

.tradeExperiance .list:hover .trade-icon i {
	color: var(--white-color);
} */


/* service section css */

.homePage .service {
	/* background: url(../images/service-pattern.png) no-repeat; */
	background-size: cover;
}

.homePage .service .commonTitle {
	padding-right: 15px;
}

.homePage .service .commonTitle:before {
	position: absolute;
	content: '';
	background: var(--light-grey-color);
	width: 1px;
	height: 75px;
	top: 44px;
	right: -15px;
}

.homePage .service .service-right {
	padding-left: 40px;
	padding-right: 100px;
	margin-top: 41px;
}

.homePage .service .service-txt {
	padding-left: 30px;
}

.homePage .service .service-txt p {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	-moz-line-clamp: 3;
	-ms-line-clamp: 3;
	-o-line-clamp: 3;
	text-overflow: ellipsis;
}

.homePage .service .service-txt span {
	position: relative;
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	color: #222;
	transition: all 500ms ease;
}

.homePage .service .service-txt span:hover {
	color: var(--primary-color);
	border-color: var(--primary-color);
}

.homePage .service .service-txt i {
	font-size: 12px;
	margin-right: 8px;
	color: var(--primary-color);
}

.homePage .service .service-box {
	margin-bottom: 65px;
}

.homePage .service .service-box h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 25px;
}

.homePage .service .inner {
	margin-top: 50px;
}

.homePage .service .service-icon {
	position: relative;
	min-width: 70px;
	max-width: 70px;
	height: 70px;
	font-size: 25px;
	border: 3px solid var(--primary-color);
	border-radius: 50%;
	z-index: 1;
	transition: all 500ms ease;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary-color);
	background: var( --white-color);
	overflow: hidden;
}

.homePage .service .service-icon:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--primary-color);
	z-index: -1;
	transform: scale(0, 0);
	opacity: 0;
	transition: all 500ms ease;
}

.homePage .service .service-box:hover .service-icon {
	color: var( --white-color);
	border-color: transparent;
}

.homePage .service .service-box:hover .service-icon:before {
	opacity: 1;
	transform: scale(1, 1);
}


/* plan pricing section */

.plan-section .plan-table {
	position: relative;
	display: block;
	background: var(--white-color);
	text-align: center;
	border-radius: 10px;
	transition: all 500ms ease;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
	margin: 15px 0;
	height: 610px;
	overflow-y: auto;
}

.plan-section .commonTitle p {
	margin: 25px 0 35px;
}

.plan-section .plan-body {
	height: 100%;
}

.plan-section .plan-table:hover {
	transform: scale(1.03);
}

.plan-section .plan-table.active .plan-price span {
	opacity: 1;
	top: -10px;
}

.plan-section .plan-table.active .planBtn {
	color: var(--white-color);
	background: var(--secondary-color);
}

.plan-section .plan-header,
.plan-section .plan-price,
.plan-section .desc,
.plan-section .plan-body {
	padding: 30px 15px;
}

.plan-section .plan-header {
	border-top: 2px solid var(--primary-color);
}

.plan-section .owl-stage {
	margin: auto;
}

.plan-section .owl-dots {
	text-align: center;
	margin-top: 35px;
}

.plan-section .owl-theme .owl-dots .owl-dot span {
	background: var(--light-grey-color);
}

.plan-section .owl-theme .owl-dots .owl-dot.active span {
	background: var(--primary-color);
}

.plan-section .plan-header h3 {
	font-size: 22px;
	line-height: 32px;
	font-weight: 700;
}

.plan-section .plan-price {
	position: relative;
	display: block;
	background: -webkit-linear-gradient(0deg, #1c6ead, #204669 100%);
	color: var(--white-color);
}

.plan-section .plan-price span {
	position: absolute;
	left: 50%;
	top: 0px;
	transform: translateX(-50%);
	display: inline-block;
	font-size: 10px;
	line-height: 14px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 3px 14px;
	text-align: center;
	letter-spacing: 1px;
	border-radius: 25px;
	transition: all 500ms ease;
	background: var(--primary-color);
	opacity: 0;
}

.plan-section .plan-table:hover .plan-price span {
	opacity: 1;
	top: -10px;
}

.plan-section .plan-price h2 {
	font-size: 44px;
	line-height: 50px;
	font-weight: 700;
}

.plan-section .plan-price p {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 0;
}

.plan-section .desc {
	border-bottom: 1px solid var(--light-grey-color);
}

.plan-section .desc p {
	margin-bottom: 0;
	font-size: 13px;
}

.plan-section .plan-body ul {
	margin-bottom: 30px;
}

.plan-section .plan-body li {
	font-size: 16px;
}

.plan-section .plan-body li:not(:last-child) {
	margin-bottom: 8px;
}

.plan-section .planswitch {
	position: relative;
	display: inline-block;
	background: #deebf7;
	overflow: hidden;
	border-radius: 30px;
	margin-bottom: 30px;
}

.plan-section .planswitch .nav-item {
	display: inline-block;
	float: left;
}

.plan-section .planswitch .nav-item a {
	font-weight: 700;
	color: var(--black-color);
	border-radius: 30px;
	padding: 14px 30px;
	text-align: center;
	cursor: pointer;
	transition: all 500ms ease;
}

.plan-section .planswitch .nav-item.show .nav-link,
.planswitch .nav-link.active {
	background: var(--primary-color);
	color: var(--white-color) !important;
}

.plan-section .planswitch .nav-item a:hover {
	background: var(--primary-color);
	color: var(--white-color) !important;
}

.plan-section .planBtn {
	padding: 7px 45px;
	border-radius: 30px;
}


/* client testimonials */

.client-testimonial .owl-theme .owl-dots {
	text-align: center;
}

.client-testimonial .owl-theme .owl-dots .owl-dot span {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 4px;
	background: #dddddd;
	border-radius: 0px;
	margin: 0px 5px;
	cursor: pointer;
	transition: all 500ms ease;
}

.client-testimonial .owl-theme .owl-dots .owl-dot.active span {
	background: var(--primary-color);
}

.client-testimonial .owl-theme .owl-dots .owl-dot span:hover {
	color: var(--primary-color) !important;
}

.client-testimonial .quote-body {
	position: relative;
	display: block;
	padding: 37px 40px 54px 40px;
	border: 1px solid var(--light-grey-color);
	border-radius: 10px;
	margin-bottom: 45px;
	transition: all 500ms ease;
}

.client-testimonial .quote-body p {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	-moz-line-clamp: 4;
	-ms-line-clamp: 4;
	-o-line-clamp: 4;
	text-overflow: ellipsis;
}

.client-testimonial .quote-body:before {
	position: absolute;
	content: '';
	background: var(--white-color);
	width: 29px;
	height: 29px;
	left: 54px;
	bottom: -14px;
	transform: rotate(45deg);
	box-shadow: 1px 1px var(--light-grey-color);
}

.client-testimonial .quote-body i {
	position: absolute;
	right: 25px;
	bottom: 20px;
	color: #e4ecf3;
	font-size: 50px;
	line-height: 50px;
}

.client-testimonial .quote-author {
	padding-left: 20px;
}

.client-testimonial .image-box {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 15px;
}

.client-testimonial .image-box img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.client-testimonial .designation h5 {
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
}

.client-testimonial .designation span {
	display: block;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	color: var(--secondary-color);
}

.callToaction {
	padding: 30px 0;
}

.callToaction h3 {
	font-size: 25px;
	font-weight: 700;
	color: var(--white-color);
}


/* counter section css */

.counter-section {
	padding: 30px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.counter-section .counter-box span {
	display: block;
	font-size: 50px;
	line-height: 60px;
	font-weight: 700;
}

.counter-section .counter-box p {
	color: #888888;
	margin-bottom: 0;
}

.counter-section .counter-box:before,
.counter-section .counter-box:after {
	position: absolute;
	content: '';
	background: rgba(255, 255, 255, 0.1);
	width: 1px;
	height: 150px;
	top: -28px;
}

.counter-section .counter-box:before {
	left: 0;
}

.counter-section .counter-box:after {
	right: 0;
}


/* quote-section */

.quote-section {
	background: url(../images/quote-bg.png) no-repeat;
	background-size: cover;
}

.quote-section .address-box {
	padding-right: 120px;
}

.quote-section .info-list li {
	display: flex;
}

.quote-section .info-list li:not(:last-child) {
	margin-bottom: 15px;
}

.quote-section .info-list li i {
	font-size: 20px;
	min-width: 55px;
	max-width: 55px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--light-grey-color);
	border-radius: 50%;
	color: var(--primary-color);
}

.quote-section .info-detail {
	margin-left: 20px;
}

.quote-section .info-detail h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 3px;
}

.quote-section .info-detail p,
.quote-section .info-detail a {
	color: var(--light-grey-color);
}

.quote-section .form-box .form-control {
	position: relative;
	width: 100%;
	height: 55px;
	background: transparent;
	padding: 10px 20px;
	border: 1px solid var(--white-color);
	transition: all 500ms ease;
	color: var(--white-color);
	border-radius: 0;
}

.quote-section .form-box .form-control:focus {
	border-color: var(--primary-color);
	box-shadow: none;
}

.quote-section .form-box .form-control::placeholder {
	color: var(--white-color);
}

.quote-section .form-box textarea.form-control {
	height: 110px;
}


/* Plans section css */

.plansec {
	/* margin-top: 30px; */
	/* border-bottom: 1px solid var(--light-grey-color); */
}

.plansec .commonTitle {
	margin-bottom: 40px;
}

.planbox {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	height: calc(100% - 30px);
	margin-bottom: 30px;
	padding: 30px;
}

.planbox .planbox-icon {
	position: relative;
	flex-shrink: 0;
	width: 64px;
	margin: 0 auto;
	text-align: center;
}

.planbox .planbox-icon img {
	width: 48px;
	position: relative;
	margin-top: 4px;
}

.planbox .planbox-icon::before,
.planbox .planbox-icon::after {
	position: absolute;
	content: '';
	width: 70px;
	height: 70px;
	left: -5px;
	top: -5px;
	transition: all 500ms ease;
}

.planbox .planbox-icon::before {
	background: #f0f5f9;
	transform: rotate(15deg);
}

.planbox .planbox-icon::after {
	background: #dee6ed;
	z-index: -1;
	opacity: 0;
	transform: rotate(0deg);
}

.planbox:hover .planbox-icon::after {
	opacity: 1;
	transform: rotate(-15deg);
}

.planbox .planbox-txt h4 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: 16px;
	line-height: 25px;
	margin: 35px 0 5px;
	font-weight: 600;
}

.planbox .planbox-txt p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 10px;
	font-weight: 400;
}

.planbox .readMore {
	color: var(--primary-color);
	margin-top: auto;
}

.planbox .readMore i {
	font-size: 12px;
	margin-right: 8px;
	color: var(--primary-color);
}


/* pay-more */

.pay-more {
	background: url(../images/quote-bg.png) no-repeat;
	background-size: cover;
}

.pay-more .circle .items:not(:last-child) {
	margin-right: 30px;
}

.pay-more .circle .items {
	width: 120px;
	transition: 0.4s;
	position: relative;
}

.pay-more .circle .items:hover {
	transform: scale(0.9)
}

.pay-more .circle .items:hover .txt {
	color: var(--primary-color);
}

.pay-more .circle .items img {
	max-width: 100%;
}

.pay-more .circle .txt {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 15px;
	left: 50%;
	width: 100%;
}

.pay-more .circle .txt span {
	margin-bottom: 5px;
	display: inline-block;
}

.pay-more .circle .txt p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
	min-height: 40px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	text-overflow: ellipsis;
}

.pay-more .pointsRow+.pointsRow {
	border-top: 1px dotted var(--white-color);
}

.pay-more .points:not(:last-child) {
	border-right: 0;
}

.pay-more .points:nth-child(odd) {
	border-right: 1px dotted var(--white-color)
}

.pay-more .points {
	padding: 20px;
}

.pay-more .points .points-detail {
	margin-left: 15px;
}

.pay-more .points .points-detail h3 {
	font-size: 34px;
	font-weight: 700;
	color: var(--white-color);
	margin-bottom: 5px;
}

.pay-more .points .points-detail h5 {
	color: var(--white-color);
	font-size: 16px;
}

.pay-more .points .points-icon {
	font-size: 28px;
	color: var(--primary-color);
}

.pay-more .points .points-icon i {
	margin-top: 7px;
}

/* Ringing section css */
.ringingTrad .ringingTrad_inner{
	padding-bottom: 120px;
}
.ringingTrad .ringingTrad_box{
	position: relative;
}
.ringingTrad .ringingTrad_box img{
	width: 100%;
}
.ringingTrad .ringingTrad_box .ringingTrad_content{
	position: absolute;
	display: block;
	overflow: hidden;
	bottom: -70px;
	width: calc(100% - 30px);
	left: 15px;
	background: #fff;
	text-align: center;
	padding: 15px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	transition: all 500ms ease;
}
.ringingTrad .ringingTrad_box .ringingTrad_content h6{
	font-size: 14px;
	margin-bottom: 5px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	line-height: 20px;
}
.ringingTrad .ringingTrad_box .ringingTrad_content p{
	font-size: 13px;
	margin-bottom: 5px;
}

/* reliable section css */
.reliable-section{
	border-top: 1px solid #cdd8e6;
}
.reliable-box{
	margin-bottom: 20px;
}
.reliable-box .reliable-boxImg{
	margin-bottom: 10px;
}
.reliable-box .reliable-boxImg img{
	width: 100%;
}
.reliable-box h3{
	font-size: 16px;
    line-height: 22px;
    font-weight: 600;
	margin-bottom: 5px;
}
.reliable-box ul li{
	margin-bottom: 6px;
	border-bottom: 1px solid #cdd8e6;
	padding-bottom: 6px;
}
.reliable-box ul li:last-child{
	margin-bottom: 0px;
	border-bottom: none;
	padding-bottom: 0px;
}
.reliable-box ul li a{
	display: block;
	position: relative;
	font-size: 13px;
	padding-right: 16px;
	color: var(--black-color);
}
.reliable-box ul li a em{
	position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.reliable-box ul li a span{
	font-weight: 700;
}
.reliable-box ul li a p{
	color: #666666;
	margin-bottom: 0px;
}
/* footer section css */

.footer * {
	color: var(--grey-color);
}

.footer p {
	margin: 30px 0 15px;
}

.footer .address-info {
	margin-bottom: 15px;
}

.footer .address-info li {
	font-size: 14px;
	color: var(--grey-color);
	margin-bottom: 3px;
	display: flex;
}

.footer .address-info li i {
	margin-right: 15px;
	color: var(--primary-color);
	font-size: 16px;
	line-height: 24px;
}

.footer .social-links a:hover i {
	color: var(--primary-color)
}

.footer .social-links li {
	display: inline-block;
}

.footer .social-links li:not(:last-child) {
	margin-right: 15px;
}

.footer .footer-title {
	margin: 10px 0 38px
}

.footer .footer-title h3 {
	position: relative;
	font-size: 20px;
	line-height: 30px;
	display: inline-block;
	color: var( --white-color);
	font-weight: 700;
	text-transform: capitalize;
	padding-right: 57px;
}

.footer .footer-title h3:before {
	position: absolute;
	content: "";
	top: 13px;
	right: 0;
	width: 45px;
	height: 2px;
	background: var(--primary-color);
}

.footer .footer-link li {
	position: relative;
	padding-left: 22px;
	transition: all 500ms ease;
}

.footer .footer-link li:not(:last-child) {
	margin-bottom: 5px;
}

.footer .footer-link li:before {
	position: absolute;
	content: "\f101";
	font-family: 'Font Awesome 5 Free';
	font-weight: 700;
	font-size: 12px;
	color: var(--grey-color);
	left: 0px;
	top: 0px;
	transition: all 500ms ease;
}

.footer .footer-link li:hover {
	margin-left: 5px;
}

.footer .footer-form .form-group {
	position: relative;
	margin-bottom: 10px;
}

.footer .footer-form .form-group i {
	position: absolute;
	top: 14px;
	right: 20px;
	font-size: 16px;
	color: #888888;
	z-index: 1;
}

.footer .footer-form .form-control {
	position: relative;
	width: 100%;
	height: 45px;
	font-size: 14px;
	border-radius: 0;
	color: var(--grey-color);
	border: 1px solid #2e3439;
	padding: 10px 50px 10px 20px;
	background: transparent;
	transition: all 500ms ease;
}

.footer .footer-form .form-control:focus {
	box-shadow: none;
	transition: all 500ms ease;
	border-color: var(--primary-color);
}

.footer .footer-form .submit {
	border-width: 1px;
	padding: 5px 28px;
	font-size: 14px;
	color: var(--white-color);
	font-weight: normal;
}

.footer .footer-bottom {
	text-align: center;
	padding: 30px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-bottom p {
	margin: 0 0 5px;
	font-size: 14px;
}
.footer .gwc-logo a{
	display: inline-block;
}
.footer .gwc-logo img{
	width: 100px;
	margin: 10px 0px;
}
.footer .gwc-logo p{
	margin: 0px;
	font-size: 13px;
	line-height: 20px;
}
.modal .modal-body p{
	font-size: 14px;
	line-height: 20px;
}
.bankSec .bankSec-box{
	box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
	padding: 20px;
	margin-bottom: 20px;
}
.bankSec .bankSec-box h3{
	font-size: 18px;
    line-height: 22px;
	margin-bottom: 12px;
	font-weight: 600;
}
.table td, .table th{
	font-size: 14px;
	padding: 5px 8px;
}
#search-modal .contact-form-inpt{
	margin: 10px 0px;
	width: 50%;
}
#search-modal .contact-form-inpt textarea{
	height: 100px;
}
#search-modal .contact-form-heading{
	color: white;
}
#productModal .contact-form-inpt{
	margin: 10px 0px;
}
.theme-txt-color{
	color: #f8952c;
}
.whatsapp-icon, .telegram-icon {
	position: fixed;
    bottom: 20px;
    right: 15px;
	z-index: 1;
}
.whatsapp-icon{
    top: 20%;
	width: 4%;
	height: 10%;
}
.telegram-icon{
    top: 28%;
	width: 4%;
	height: 10%;
}

.whatsapp-icon img{
    width: 90%;
}
.telegram-icon img{
    width: 90%;
}
.f-bold{
	font-weight: bold;
}